@tailwind base;

@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl leading-relaxed;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 253, 242, 231;
  --accent-rgb: #ba8a5f;
}

audio::-webkit-media-controls-enclosure {
  background-color: transparent;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background:rgb(var(--background-rgb));
  font-family: var(--font-urbanist);
}

h1, h2,h3 {
  font-family: var(--font-the-seasons);
}


h4,h5,h6 {
  font-family: var(--font-beth-ellen);
}

a, p {
  font-family: var(--font-the-seasons);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
